
body {
    background-color: #45ADAB;
}

h1 {
    background-color: #45ADAB;
    color: #E5FCC2;
    text-align: center;
    font-size: 48px;
}

table{
    table-layout: fixed;
    width: 800px;
    margin-left: 225px;
    margin-right: auto;
}

th, td {
    width: 400px;
}

img {
    width: 100%;
    height: auto;

}

button {
    margin-left: 550px;
    margin-right: auto;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    border-radius: 8px;
    padding: 25px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.options {
    margin-right: auto;
}

.ovalLeft {
    text-align: center;
    height: 100px;
    width: 200px;
    color: #594F4F;
    background-color: #9DE0AD;
    font-size: 28px;
    line-height: 60px;
    padding: 35px 50px 35px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 70px;
    margin-bottom: 50px;
    border-radius: 80%;
}

.ovalRight {
    text-align: center;
    height: 100px;
    width: 200px;
    color: #594F4F;
    background-color: #9DE0AD;
    font-size: 28px;
    line-height: 60px;
    padding: 40px 50px 40px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    border-radius: 80%;
}

.goodboytext {
    font-size: 19px;
    text-align: right;
}

.goodboytext2 {
    font-size: 19px;
    text-align: left;
}

.textBox {
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border: none;
    outline: none;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 24px;
    height: 100px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    transition: height 1s;
}

.textBox:focus {
    height: 50px;
    font-size: 16px;
}

#fortuneText {
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border: none;
    outline: none;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 24px;
    height: 100px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    transition: height 1s;
}
#fortuneText:focus {
    height: 50px;
    font-size: 16px;
}

#factText {
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border: none;
    outline: none;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 24px;
    height: 100px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    transition: height 1s;
    text-align: right;
}
#factText:focus {
    height: 50px;
    font-size: 16px;
}
